.main-header {
    padding: 0 13%;
    color: rgb(144, 162, 220);
}
.header-container {
    display: flex;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.main-form {
    display: flex;
}
.logoBrand {
    display: flex;
    align-items: center;
}

.logoBrand img {
    height: 70px;
}

.logInDetail2 ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

.logInDetail2 ul li {
    list-style: none;
    white-space: nowrap;
    padding: 7px;
    margin-right: 5px;
}
li i {
    margin-right: 5px;
}

#headerBtn {
    background-color: #1e222c;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.logInDetail2 ul {
    display: flex;
}

.logInDetail3 {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
}

.buttonLogin {
    display: flex;
}

.buttonLogin button {
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: #1e222c;
    color: white;
    border-radius: 15px;
    padding: 10px;
    border: 2px solid #5b7cfe;
    transition: .6s ease;
    cursor: pointer;
}
button:hover {
    transform: scale(1.1);
}
button i {
    color: #5b7cfe;
    margin-right: 5px;
}
.buttonLogin img {
    height: 20px;
}
input::placeholder {
    color: rgb(185, 182, 182);
}

.logInDetail3 input {
    background-color: #1e222c;
    height: 4vh;
    width: 12vw;
    border-radius: 10px;
    padding: 5px;
    color: white;
    border: none;
    position: relative;
}
.eyeContact {
    position: relative;
}

#eye{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}
#eyeSlash {
    position: absolute;
    top: 10px;
    right: 10px;
}


