@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.main-body-container {
    background-color: #292e3b;
    /* padding: 0 13%; */
    color: #8491a5;
    position: relative;
}

.sportHover {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #292e3b;
    width: 100%;


}

.casinoHover {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #292e3b;
    width: 100%;


}

.hoverCardGame {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #292e3b;
    width: 100%;


}
.hoverFeaturedGame {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #292e3b;
    width: 100%;
}
.hoverLottery {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #292e3b;
    width: 100%;
}